version: '3.9'

services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: hackathon-backend
    env_file:
      - ./backend/.env
    ports:
      - "8081:8081"
    restart: unless-stopped

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
      args:
        VITE_API_BASE: /api
        VITE_TG_BOT_USERNAME: AuthHackBot
    container_name: hackathon-frontend
    depends_on:
      - backend
    ports:
      - "8080:80"
    restart: unless-stopped

  nginx:
    image: nginx:alpine
    container_name: hackathon-nginx
    depends_on:
      - frontend
      - backend
    ports:
      - "80:80"
      - "443:443"
    restart: unless-stopped

networks:
  default:
    name: hackathon-net
