.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  gap: 20px;
}

.header {
  color: var(--color-white);
}

.button {
  text-decoration: none;
  border: 1px solid var(--color-white);
  padding: 10px;
  color: white;
  background-color: var(--color-black);
  border-radius: var(--border-radius-xs);

  &:hover {
    background-color: var(--color-white);
    color: var(--color-black);
  }
}


