.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  color: var(--color-white);
  margin-bottom: 5px;
}

.button {
  margin-top: 5px;
  text-decoration: none;
  border: 1px solid var(--color-white);
  padding: 10px;
  color: white;
  background-color: var(--color-black);
  border-radius: var(--border-radius-xs);
}


