.wrapper {

}

.button {
  width: 46px;
  height: 46px;
  border: none;
  border-radius: var(--border-radius-circle);
  background-color: var(--color-white);
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  box-sizing: border-box;
  transition: background-color var(--transition-duration);

  svg {
    display: block;
    width: 24px;
    height: 24px;
    flex-shrink: 0;
  }
}

.cancelButton {
  display: block;
}


