.wrapper {
  height: 100vb;
}

.cardsStack {
  position: relative;
  margin: 15px 0 0 0;
  min-height: 400px;
  padding-bottom: 40px;
}

.card {
  border-radius: 30px;
  padding: 20px;
  padding-top: 30px;
  transition:
    box-shadow 0.3s, transform 0.45s cubic-bezier(.4,2,.25,1),
    opacity 0.24s, filter 0.24s, background 0.18s;
  cursor: pointer;
  position: relative;
  user-select: none;
  z-index: 1;
  overflow: visible;
  margin-bottom: 5px;
}

.cardOpen {
  z-index: 11 !important;
}

.cardHeader {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.hackTitle {
  font-weight: 600;
  font-size: 32px;
  color: #191919;
  margin-bottom: 4px;
}
.cardRow {
  display: flex;
  gap: 5px;
  align-items: center;
  margin-bottom: 6px;
}
.cardTag {
  border: 2px solid #191919;
  background: rgba(255,255,255,0.15);
  border-radius: 30px;
  font-size: 22px;
  font-weight: 400;
  padding: 3px 19px 3px 19px;
  color: #191919;
  margin-right: 8px;
  white-space: nowrap;
}

.cardCollapse {
  transition: max-height 0.3s, opacity 0.18s;
  overflow: hidden;
}
.cardDesc {
  margin: 17px 0 4px 0;
  color: #292929;
  font-size: 20px;
}
.cardOwner {
  font-size: 18px;
  margin-bottom: 13px;
  color: #383883;
}
.participateBtn {
  display: block;
  width: 100%;
  margin-top: 13px;
  font-size: 31px;
  font-weight: 500;
  background: #000;
  color: var(--color-white);
  border: none;
  border-radius: 30px;
  padding: 8px 0 10px 0;
  box-shadow: 0 2px 12px #4441;
  transition: background 0.18s;
  cursor: pointer;
}
.participateBtn:active {
  background: #272727;
}
.noResults {
  color: #333;
  padding: 50px 0;
  font-size: 25px;
  text-align: center;
  opacity: 0.75;
}

@media (max-width: 390px) {
  .hackTitle {
    font-size: 24px;
  }
  .cardTag {
    font-size: 18px;
    padding: 2px 14px 2px 14px;
  }
  .cardDesc {
    font-size: 18px;
  }
  .cardOwner {
    font-size: 16px;
  }
  .participateBtn {
    font-size: 24px;
  }

}