@import "fonts.css";
@import "variables.css";

a,
button,
label,
input,
select,
textarea,
svg * {
  transition-duration: var(--transition-duration);
}

body {
  font-family: "Roboto Flex", sans-serif;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--color-black);
}

#root {
  width: 100%;
  min-width: 320px;
  padding-inline: 24px;
}

