@import "fonts.css";

:root {
  --color-white: #FFFFFF;
  --color-black: #000000;
  --color-light-purple: #734AC6;
  --color-ultralight-purple: #DBC5EE;
  --color-dark-purple: #641CB1;

  --border-radius-l: 60px;
  --border-radius-m: 30px;

  --transition-duration: 0.2s;
}

a,
button,
label,
input,
select,
textarea,
svg * {
  transition-duration: var(--transition-duration);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-width: 100vh;
}

#root {
  min-width: 320px;
}

