.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

.desc {
  color: var(--color-white);
  margin-bottom: 20px;
}

.link {
  text-decoration: none;
  border: 1px solid var(--color-white);
  padding: 10px;
  color: white;
  border-radius: var(--border-radius-xs);
  &:hover {
    background-color: var(--color-white);
    color: var(--color-black);
  }
}

@media (max-width: 400px) {
  .desc {
    font-size: 14px;
  }
}