.wrapper {
  display: block;
  padding: 4px 16px;
  background-color: var(--color-black);
  border: 1px solid var(--color-white);
  border-radius: 30px;
}

.text {
  font-size: 16px;
  color: var(--color-white);
}